<html >
<head>
  <title>Home page</title>  



</head>

<body>
 <div>
  <p align="right">
  Date : {{ utc_dt }}
  </p>
  <center>
    <table border = 5 bordercolor = "#D2E3FC" cellspacing= "5" cellpadding= "10">
      <th style="background-color: #174EA6;"> <p style="font-size:30; color:white"> Welcome to the Sentiment Analysis Model</p></tr>
    </table>
    <br>
       <table border = 2 bordercolor = "#D2E3FC" cellspacing= "2" cellpadding= "5">
      <th style="background-color: #174EA6;"> <p style="font-size:30; color:white"> Track : Cert Journey </p></tr>
    </table> 
 <br> <br>
      <table>
        <tr>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">No. of Cohort</p></th>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">No. of Feedback</p></th>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">Average CSAT</p></th>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">Positive Sentiment score > 99%</p></th>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">Negative Sentiment score > 99%</p></th>
        <th style="background-color: #CEEAD6; height: 20px; width: 200px;" valign="middle"><p style="color:#202124; font-size:20;">Average Sentiment score</p></th>
        </tr>
        <tr>
          <td height=50 width=100><center><font size=5>{{count1}}</font></center></td>
          <td height=50 width=100><center><font size=5>{{count2}}</font></center></td>
          <td height=50 width=100><center><font size=5>4.4</font></center></td>
          <td height=50 width=100><center><font size=5>92%</font></center></td>
          <td height=50 width=100><center><font size=5>87%</font></center></td>
          <td height=50 width=100><center><font size=5>+ 30%</font></center></td>
        </tr>
      </table>

    <center>

   <h2>Sentiment of Overall feedback</h2>

      <table border="10" cellspacing = 5 cellpadding = 5 bordercolor = "#0D652D">
        <tr>
        <th style="background-color: #CEEAD6; height: 30px; width: 30px;" valign="middle"><p style="color:#202124; font-size:20;">Sentiment type</p></th>
        <th style="background-color: #CEEAD6; height: 30px; width: 30px;" valign="middle"><p style="color:#202124; font-size:20;">Count</p></th>
        <th style="background-color: #CEEAD6; height: 30px; width: 30px;" valign="middle"><p style="color:#202124; font-size:20;">Comments</p></th>
        <th style="background-color: #CEEAD6; height: 30px; width: 30px;" valign="middle"><p style="color:#202124; font-size:20;">Overall Sentiment: Pie - chart </p></th>
        </tr>
        <tr>
          <td><center>Positive<center></td>
          <td><center>{{pos1}}</center></td>
          <td style="height: 30px; width: 325px;" align="left" valign="middle">
            <p style="text-align: left;"><span style="font-size: small; font-family: verdana,geneva;">{{str_pos}}</span></p>
          </td>
          <td rowspan = 4 height=300 width=400 id='piechart_3d'></td>
        </tr>
        <tr><td><center>Negative</center></td><td><center>{{neg1}}</center></td>
            <td style="height: 30px; width: 325px;" align="left" valign="middle">
            <p style="text-align: left;"><span style="font-size: small; font-family: verdana,geneva;">{{str_neg}}</span></p>
          </td>
          </tr>
        <tr><td><center>Neutral</center></td><td><center>{{neu1}}</center></td>
            <td style="height: 30px; width: 325px;" align="left" valign="middle">
            <p style="text-align: left;"><span style="font-size: small; font-family: verdana,geneva;">{{str_neu}}</span></p>
          </td>
          </tr>

        

      </table>
      <br>
      <br>
      </center>
 </div>
</body>
</html>